@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  min-width: 1200px;
  overflow: hidden;
  overflow-y: hidden;
  /*для вертикального*/
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
  overflow-y: hidden;
  /*для вертикального*/
  overflow-x: hidden;
  width: 100%;
  height: 65px;
  background-color: #393738;
  border-bottom: 1px solid black;
  background: linear-gradient(to right, #2b292a, black);
}

.header-nav {
  width: 1000px;
  height: 65px;
  align-items: center;
  margin-left: 250px;
  margin-right: auto;
}

.header_list {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_item {
  color: #05a591;
  padding: 5px 10px;
}

.nav_link {
  color: #05a591;
  text-decoration: none;
}

.nav_link:hover {
  cursor: pointer;
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 0 50px;
  background-image: url("../images/office.jpg");
  /* fallback */
  background-size: cover;
}

.info {
  padding: 15px;
  margin-right: 50px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(5px);
  border-radius: 30px;
}

.infoTitle {
  color: white;
  font-size: 50px;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.infoText {
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  margin-top: 25px;
  padding-top: 10px;
  border-top: 3px solid #05a591;
  color: white;
  font-weight: 700;
}

.hero_icon {
  position: absolute;
  left: 50%;
  bottom: 0px;
  rotate: 180deg;
  animation-name: jump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.hero_link {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 50px;
  height: 50px;
  animation-name: jump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
  z-index: 15;
}

.hero-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
  border-radius: 5px;
  backdrop-filter: blur(30px);
}

.hero-form::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(1) ease;
  animation: pulse 3s infinite;
  border-radius: 5px;
}

.hero-form:hover::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.hero-form:hover {
  border: 1px solid #05a591;
}

.hero_input {
  color: #05a591;
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(15px);
}

.hero_input:focus {
  color: #05a591;
  border: 1px solid #05a591;
}

.hero_btn {
  cursor: pointer;
  width: 250px;
  height: 35px;
  border-radius: 20px;
  color: white;
  background-color: #05a591;
  font-weight: 600;
}

@keyframes jump {
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 #05a591;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 3px #05a591;
  }
  100% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 #05a591;
  }
}

.about {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 3px solid #00d4ff;
  border-left: 3px solid #ee7f7f;
  overflow: hidden;
  background-color: aliceblue;
}

.about_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 150px;
  border-right: 3px solid #00d4ff;
  border-left: 3px solid #ee7f7f;
  /* border-top:  2px solid rgb(238, 127, 127); */
  border-radius: 40px;
  margin-bottom: 30px;
  background-color: #fbfbf0;
}

.about_item:nth-child(even):after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  right: -251px;
  width: 250px;
  height: 3px;
  background-color: #00d4ff;
}

.about_item:nth-child(odd)::before {
  border: none;
  content: '';
  position: absolute;
  z-index: 10;
  top: 50%;
  left: -222px;
  width: 220px;
  height: 3px;
  background-color: #ee7f7f;
}

.aboout_text {
  color: #924848;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */