.about {
  position: relative;
  height: 80vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  margin: 100px;
  background: linear-gradient(to right, #c2c6bc, aliceblue);
  overflow: visible;
  
  background-image: linear-gradient(
    to left,
    rgba(67, 67, 70, 0.7),
    rgba(47, 48, 58, 0.5)
  ),
  url("../images/about_main.jpg");
  background-size: cover;
}
.about::before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 250px;
  height: 250px;
  border-top: 2px solid #05a591;
  border-right: 2px solid #05a591;
}
.about::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 250px;
  height: 250px;
  border-bottom: 2px solid #05a591;
  border-left: 2px solid #05a591;
}

.about-title {
  color: white;
  font-size: 40px;
  margin-bottom: 120px;
  padding: 10px 20px;
 
  animation-name: blur;
  
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.aboout_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1150px;
    gap: 35px;
}
.about_item {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  width: 550px;
  height: 150px;
  box-shadow: 0 0 5px 2px #4d2d2d;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
  border: 1px solid #665252;
  transition: all 0.5s linear ;
}
.about_item:hover{
transform: scale(1.03);
box-shadow: 0 0 5px 2px #dfd5d5;
}
.about_item:nth-child(3){
  
  height: 200px
}
.about_item:nth-child(4){
  
    height: 200px
  }

.about_text {
  color: whitesmoke;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
@keyframes blur {
0%, 100%{
  box-shadow: 0 0 5px 2px #4d2d2d;
  }
33% {
  box-shadow: 0 0 5px 2px #fffdfd;
}
66% {
  box-shadow: 0 0 5px 2px #05a591;
}
}