
@media screen and (min-width: 320px)  and (max-width: 768px){
    .cases {
        border-top: 2px solid white;
        // box-shadow: 0px 0px 5px 5px #1c3d45;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 50px;
        background-image: linear-gradient(
          225deg,
          #27323b 0%,
          #05a591 50%,
          #2c3853 100%
        );
    
        background-size: contain;
      }
      .cases-head-title {
        color: white;
        font-size: 25px;
        margin-bottom: 100px;
      }
      .cases-list {
        color: white;
      }
    
      .cases-item {
        position: relative;
        
        padding: 15px;
        width: 300px;
        margin-bottom: 50px;
        box-shadow: 0 0 5px 2px #a8c3c3;
        background-image: linear-gradient(to left, rgba(38, 78, 69, 1), #101112);
       
        border-bottom: 2px solid white;
        
      }
      
    
      .cases_title {
        font-size: 20px;
      }
      .cases_subtitle {
        color: #05a591;
        font-size: 14px;
      }
      .cases_text {
        color: #05a591;
      }
      .cases_text--count {
        margin-left: 10px;
    
        color: white;
      }   
}

//tablet-----------------------------------------------
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .cases {
    border-top: 2px solid white;
    // box-shadow: 0px 0px 5px 5px #1c3d45;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    background-image: linear-gradient(
      225deg,
      #27323b 0%,
      #05a591 50%,
      #2c3853 100%
    );

    background-size: contain;
  }
  .cases-head-title {
    color: white;
    font-size: 40px;
    margin-bottom: 100px;
  }
  .cases-list {
    color: white;
  }

  .cases-item {
    position: relative;
    margin-left: -310px;
    padding: 25px;
    width: 395px;
    margin-bottom: 50px;
    box-shadow: 0 0 5px 2px #a8c3c3;
    background-image: linear-gradient(to left, rgba(38, 78, 69, 1), #101112);

    border-bottom: 2px solid white;
  }
  .cases-item::after {
    content: "";
    position: absolute;
    opacity: 0.9;
    right: -315px;
    top: 0;
    width: 300px;
    height: 101%;
    box-shadow: 0 0 5px 2px #a8c3c3;
    border-bottom: 2px solid white;
    background-size: cover;
    background-image: url("../images/cases/1.jpg");
  }
  .cases-item:nth-child(2):after {
    background-image: url("../images/cases/2.jpg");
  }
  .cases-item:nth-child(3):after {
    background-image: url("../images/cases/3.jpg");
  }
  .cases-item:nth-child(4):after {
    background-image: url("../images/cases/4.jpg");
  }
  .cases-item:nth-child(5):after {
    background-image: url("../images/cases/5.jpg");
  }
  .cases-item:nth-child(6):after {
    background-image: url("../images/cases/6.jpg");
  }
  .cases-item:nth-child(7):after {
    background-image: url("../images/cases/7.jpg");
  }
  .cases-item:nth-child(8):after {
    background-image: url("../images/cases/8.jpg");
  }
  .cases_title {
    font-size: 20px;
  }
  .cases_subtitle {
    color: #05a591;
    font-size: 14px;
  }
  .cases_text {
    color: #05a591;
  }
  .cases_text--count {
    margin-left: 10px;

    color: white;
  }
}
/* DESKPOT-----------------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .cases {
    border-top: 2px solid white;
    // box-shadow: 0px 0px 5px 5px #1c3d45;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    background-image: linear-gradient(
      225deg,
      #27323b 0%,
      #05a591 50%,
      #2c3853 100%
    );

    background-size: contain;
  }
  .cases-head-title {
    color: white;
    font-size: 40px;
    margin-bottom: 100px;
  }
  .cases-list {
    color: white;
  }

  .cases-item {
    position: relative;
    margin-left: -310px;
    padding: 25px;
    width: 800px;
    margin-bottom: 50px;
    box-shadow: 0 0 5px 2px #a8c3c3;
    background-image: linear-gradient(to left, rgba(38, 78, 69, 1), #101112);

    border-bottom: 2px solid white;
  }
  .cases-item::after {
    content: "";
    position: absolute;
    opacity: 0.9;
    right: -315px;
    top: 0;
    width: 300px;
    height: 101%;
    box-shadow: 0 0 5px 2px #a8c3c3;
    // box-shadow: inset 0 0 15px 8px #126060;

    border-bottom: 2px solid white;
    background-size: cover;
    background-image: url("../images/cases/1.jpg");
  }
  .cases-item:nth-child(2):after {
    background-image: url("../images/cases/2.jpg");
  }
  .cases-item:nth-child(3):after {
    background-image: url("../images/cases/3.jpg");
  }
  .cases-item:nth-child(4):after {
    background-image: url("../images/cases/4.jpg");
  }
  .cases-item:nth-child(5):after {
    background-image: url("../images/cases/5.jpg");
  }
  .cases-item:nth-child(6):after {
    background-image: url("../images/cases/6.jpg");
  }
  .cases-item:nth-child(7):after {
    background-image: url("../images/cases/7.jpg");
  }
  .cases-item:nth-child(8):after {
    background-image: url("../images/cases/8.jpg");
  }
  .cases_title {
    font-size: 20px;
  }
  .cases_subtitle {
    color: #05a591;
    font-size: 14px;
  }
  .cases_text {
    color: #05a591;
  }
  .cases_text--count {
    margin-left: 10px;

    color: white;
  }
}
