.cooperation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 1300px;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #05a591 50%,
    #2b86c5 100%
  );
  // box-shadow: 2px 0px 3px 3px #212020;
}
.cooperation-title {
  font-size: 45px;
  color: white;
  margin-top: 50px;
  margin-bottom: 100px;
}
.cooperation_list {
 
  height: 1025px;
}
.cooperation_item {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 620px;
  height: 150px;
  background-color: #04403c;
  background-size: cover;
//   box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  
}


.cooperation_item:last-child {
  margin-bottom: 0;
}
.cooperation_item:nth-child(even) {
  margin-left: 625px;
  position: relative;
  border-radius: 0 15px  15px 0;
  
  background-size: cover;
}
.cooperation_item:nth-child(even)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -155px;
  width: 150px;
  height: 150px;
  background-color: #04403c;
  border-radius: 15px 0 0 15px;
  
}
.cooperation_item:nth-child(odd) {
  position: relative;
  margin-right: 415px;
  border-radius: 15px 0 0 15px;
}
.cooperation_item:nth-child(odd)::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -155px;
  width: 150px;
  height: 150px;
  background-color: #04403c;
//   border-radius: 15px 0 0 15px;
  border-radius: 0 15px 15px 0;
}
.cooperation_icon--even {
  fill: #9bc6aa;
  position: absolute;
  top: 29%;
  right: -112px;
  animation-name: color_switch;
  border-radius: 15px 0 0 15px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
// .cooperation_icon--even:nth-child(1){
//     animation-delay: 0.3s;
// }
// .cooperation_icon--even:nth-child(1){
//     animation-delay: 0.6s;
// }
.cooperation_icon--even:nth-child(1){
    animation-delay: 1s;
}
.cooperation_icon--odd {
  fill: #9bc6aa;
  position: absolute;
  top: 29%;
  left: -112px;
  animation-name: color_switch;
  animation-delay: 2s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


// .cooperation_icon--odd:nth-child(1){
//     animation-delay: 0.75s;
   
// }
.cooperation_text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  
  font-size: 17px;
  font-weight: 700;
 
  
}

@keyframes color_switch {
  0%,
  100% {
    fill: #9bc6aa;
    
  }
  33% {
    fill: #d76397;
  }
  66% {
    fill: #2b86c5;
  }
}
// @keyframes gradient_switch {
//     0%,
//     100% {
//         background: linear-gradient(
//             225deg,
//             #ff3cac 0%,
//             #05a591 50%,
//             #2b86c5 100%
//           );
      
//     }
//     33% {
//         background: linear-gradient(
//             225deg,
//             #05a591 0%,
//              #ff3cac 50%,
//             #2b86c5 100%
//           );
//     }
//     66% {
//         background: linear-gradient(
//             225deg,
//              #2b86c5 0%,
//             #05a591 50%,
//             #ff3cac 100%
//           );
//     }
//   }
