.hero {
  height: 100vh;

  display: flex;
  align-items: center;

  justify-content: space-between;

  padding: 0 50px;
  background-image: url("../../images/office.jpg"); /* fallback */

  background-size: cover;
}

.info {
  padding: 15px;
  margin-left: 200px;
  flex-direction: column;
  align-items: center;
;
  text-align: center;
  backdrop-filter: blur(5px);
  border-radius: 30px;
}
.infoTitle {
  color: #fff6e8;
  font-size: 50px;
  margin-bottom: 5px;
  flex-shrink: 0;
}
.infoText {
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  margin-top: 25px;
  padding-top: 10px;
  border-top: 3px solid #05a591;
 
  color: #fff6e8;
  font-weight: 700;
}
.hero_icon {
  position: absolute;
  left: 50%;
  bottom: 15px;
  rotate: (180deg);
  fill: blue;
  animation-name: hd;
      animation-duration: 1.5s;
      animation-iteration-count: infinite; 
}
@keyframes hd {
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
