
.reviews{
padding: 50px 0;
    background: linear-gradient(90deg, rgb(69, 223, 210) 0%, rgb(238, 184, 184) 100%);
}
.reviews-title{
    font-size: 40px;
    color: white;
    
    text-align: center;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-button-next{
    border: none;
    background-color: transparent;
  }
.swiper-button-prev{
    border: none;
    background-color: transparent;
}